body {
    background-color: darkslategray;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.container {
    width: 80%;
    margin: auto;

}

header {
    background: rgb(136, 136, 136);
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 40px;
    line-height: 60px;

    position: relative;
}

nav a {
    color: darkslategray;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: darkolivegreen;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: darkolivegreen;

    position: absolute;
    top: 0;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 4; }
    .div2 { grid-area: 1 / 5 / 2 / 7; }

/*

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
    
    